@import url('https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap');

body {
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

.edit-product form label{
    display: inline-block;
    width: 200px;
    margin: 5px 10px;
    text-align: start;
}

.edit-product form textarea {
    vertical-align: top;
}

table{
    font-size: 15px;
}

nav a{
    text-decoration: none;
    display: block;
}

nav a:link, nav a:visited {
    color: darkblue;
    transition: 0.2s;
}

nav a:hover {
    color: whitesmoke;
    background-color: dodgerblue;
}