<div class="col" style="background-color: bisque;">
    <p class="text-center">Компонент детального просмотра</p>

    <div class="container p-2" style="overflow: auto;">

        <form id="updateForm" class="col" method="post" [action]="dataService.apiSights" enctype="multipart/form-data"
              (ngSubmit)="updateSight()">
            <div class="form-group row blocked">
                <label class="col-1 col-form-label" for="id">Id</label>
                <div class="col">
                    <input class="form-control" type="text" id="id" name="id" [value]="sight.id" readonly />
                </div>
                <div class="col-3">
                    <img id="preview" class="img-thumbnail" height="200" [src]="sight.photoPath" alt="photo.jpg" />
                    <input type="file" name="image" accept=".png .jpg .jpeg" value="" (change)="prepareImgPreview($event)" />
                    <label class="form-label">Фото</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-1 col-form-label" for="name">Name</label>
                <div class="col">
                    <input class="form-control" type="text" id="name" name="name" [value]="sight.name" [readonly]="isReadOnly" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-1 col-form-label" for="shortDesc">ShortDesc</label>
                <div class="col">
                    <input class="form-control" type="text" id="shortDesc" name="shortDescription" [value]="sight.shortDescription" [readonly]="isReadOnly" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-1 col-form-label" for="fullDesc">FullDesc</label>
                <div class="col">
                    <input class="form-control" type="text" id="fullDesc" name="fullDescription" [value]="sight.fullDescription" [readonly]="isReadOnly" />
                </div>
            </div>

            <div class="form-group row blocked">
                <label class="col-1 col-form-label" for="createDate">CreateDate</label>
                <div class="col">
                    <input class="form-control" type="date" id="createDate" name="createDate" [value]="sight.createDate" readonly />
                </div>
            </div>

            <div class="form-group row blocked">
                <label class="col-1 col-form-label" for="updateDate">UpdateDate</label>
                <div class="col">
                    <input class="form-control" type="date" id="updateDate" name="updateDate" [value]="sight.updateDate" readonly />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-1 col-form-label" for="type.id">Type</label>
                <div class="col">
                    <select class="form-control" id="type.id" name="type.id" [disabled]="isReadOnly">
                        <option *ngFor="let type of dataService.getTypes()" [value]="type.id" [text]="type.name" [selected]="type.id == sight.type.id">
                        </option>
                    </select>
                </div>
            </div>
            <button class="btn btn-primary float-right m-1" type="button" (click)="switchEditBlock()">Изменить</button>
            <button class="btn btn-primary float-right m-1" type="submit" [hidden]="isReadOnly">Применить</button>
            <button class="btn btn-primary float-right m-1" type="button" (click)="deleteSight(sight.id)" [hidden]="isReadOnly">Удалить</button>
        </form>
    </div>
</div>
