@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<header class="header">
    <h3 style="display: inline-block;">Магазин микропроцессорной техники</h3>
    @await Component.InvokeAsync("TopMenu")
    <hr />
</header>