<div class="col">
    <filter-comp (onApplyFilter)="getSights($event)"></filter-comp>
    <table class="table table-stripped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Short Description</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody id="container">
            <tr *ngFor="let sight of sightArray" (click)="pushData(sight)"
                [routerLink]="['/show', sight.id]">
                <td>{{sight.id}}</td>
                <td>{{sight.name}}</td>
                <td>{{sight.shortDescription}}</td>
                <td>{{sight.type.name}}</td>
            </tr>
        </tbody>
    </table>
</div>
