<div class="col">
    <filter-comp (onApplyFilter)="getDataFromCommonFilter($event)" *ngIf="useCommonFilter"></filter-comp>

    <div class="row">
        <div class="col">
            <mapfilter-comp (onApplyFilter)="getDataFromMap($event)" *ngIf="useMapFilter" 
                [acceptorSights]="sightsReady" ></mapfilter-comp>
        </div>
    </div>

    <div>
        <input type="checkbox" [(ngModel)]="useCommonFilter"><span>Фильтр</span>
        <input type="checkbox" [(ngModel)]="useMapFilter"><span>Карта</span>
    </div>
    <table class="table table-stripped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Short Description</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody id="container">
            <tr *ngFor="let sight of sightArray" (click)="pushData(sight)"
                [routerLink]="['/show', sight.id]">
                <td>{{sight.id}}</td>
                <td>{{sight.name}}</td>
                <td>{{sight.shortDescription}}</td>
                <td>{{sight.type.name}}</td>
            </tr>
        </tbody>
    </table>
</div>
