
    <nav>
        <h3>Админское меню</h3>
        <ul>
            <li><a asp-action="StoreHouse">Склад</a></li>
            <li><a asp-action="Orders">Заказы</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Catalog">В каталог</a></li>
        </ul>
    </nav>