<div class="col text-center" style="background-color: bisque;">
    Компонент создания


    <div class="container p-2">
        <div class="col-3 float-right m-0" style="background-color: cadetblue;">
            <img class="img-thumbnail" src="" alt="some.jpg" />
        </div>
        <form class="col" method="post" [action]="dataService.basePath + dataService.apiSights" enctype="multipart/form-data">

            <div class="form-group row">
                <label class="col-1 col-form-label" for="Name">Name</label>
                <div class="col">
                    <input class="form-control" type="text" id="Name" name="Name" placeholder="Enter name" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-1 col-form-label" for="ShortDescription">ShortDesc</label>
                <div class="col">
                    <input class="form-control" type="text" id="ShortDescription" name="ShortDescription" value="" placeholder="Short description..." />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-1 col-form-label" for="FullDescription">FullDesc</label>
                <div class="col">
                    <input class="form-control" type="text" id="FullDescription" name="FullDescription" value="" placeholder="Full description..." />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-1 col-form-label" for="type.id">Type</label>
                <div class="col">
                    <select class="form-control" id="type.id" name="type.id">
                        <option selected>Choose type...</option>
                        <option *ngFor="let type of dataService.typeResult.value" [value]="type.id" [text]="type.name">
                        </option>
                    </select>
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Отправить</button>
        </form>
    </div>
</div>
