<div class="col text-center" style="background-color: bisque;">
    <p>Компонент создания</p>

    <style>
        input.ng-dirty.ng-invalid {
            border: 2px solid #ff0000
        }

        input.ng-dirty.ng-valid {
            border: 2px solid #6bc502
        }
    </style>
    <div class="container p-2 border">
        <form id="createSight" class="col" method="post" enctype="multipart/form-data" (ngSubmit)="addSight(form)"
            novalidate #form="ngForm">

            <div class="form-group row">
                <label class="col-1 col-form-label" for="name">Name</label>
                <div class="col">
                    <input class="form-control" type="text" id="name" name="name" placeholder="Enter name"
                        [(ngModel)]="newSight.name" required pattern="^[А-Яа-яA-Za-z ]{2,}" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-6 main-preview" (contextmenu)="swapDiv(div0, $event)" #div0>
                    <img class="img-thumbnail" src="\img\empty.jpg" />
                    <input class="file" type="file" name="images[0].file" accept="image/*"
                        (change)="loadImage(div0, true)" #input0 />
                    <input type="hidden" name="images[0].isMain" value="{{div0.classList.contains('main-preview')}}" />
                </div>

                <div class="col-6">
                    <div class="row">

                        <div class="col-6" (contextmenu)="swapDiv(div1, $event)" #div1>
                            <img class="img-thumbnail" src="\img\empty.jpg" />
                            <input class="file" type="file" name="images[1].file" accept="image/*"
                                (change)="loadImage(div1)" #input1 />
                            <input type="hidden" name="images[1].isMain"
                                value="{{div1.classList.contains('main-preview')}}" />
                        </div>

                        <div class="col-6" (contextmenu)="swapDiv(div2, $event)" #div2>
                            <img class="img-thumbnail" src="\img\empty.jpg" />
                            <input class="file" type="file" name="images[2].file" accept="image/*"
                                (change)="loadImage(div2)" #input2 />
                            <input type="hidden" name="images[2].isMain"
                                value="{{div2.classList.contains('main-preview')}}" />
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-6" (contextmenu)="swapDiv(div3, $event)" #div3>
                            <img class="img-thumbnail" src="\img\empty.jpg" />
                            <input class="file" type="file" name="images[3].file" accept="image/*"
                                (change)="loadImage(div3)" #input3 />
                            <input type="hidden" name="images[3].isMain"
                                value="{{div3.classList.contains('main-preview')}}" />
                        </div>

                        <div class="col-6" (contextmenu)="swapDiv(div4, $event)" #div4>
                            <img class="img-thumbnail" src="\img\empty.jpg" />
                            <input class="file" type="file" name="images[4].file" accept="image/*"
                                (change)="loadImage(div4)" #input4 />
                            <input type="hidden" name="images[4].isMain"
                                value="{{div4.classList.contains('main-preview')}}" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-1 col-form-label" for="shortDescription">ShortDesc</label>
                <div class="col">
                    <input class="form-control" type="text" id="shortDescription" name="shortDescription"
                        placeholder="Short description..." [(ngModel)]="newSight.shortDescription" required
                        pattern="^[А-Яа-яA-Za-z ]{5,}" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-1 col-form-label" for="fullDescription">FullDesc</label>
                <div class="col">
                    <textarea class="form-control" type="text" id="fullDescription" name="fullDescription"
                        placeholder="Full description..." [(ngModel)]="newSight.fullDescription" required
                        pattern="^[А-Яа-яA-Za-z ]{5,}"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-1 col-form-label" for="type.id">Type</label>
                <div class="col">
                    <select class="form-control" id="type.id" name="type.id" [(ngModel)]="newSight.type.id" required
                        pattern="^[1-9]+[0-9]{0,}">
                        <option value="undefined" selected>Choose type...</option>
                        <option *ngFor="let type of types" [value]="type.id" [text]="type.name">
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <label class="col-form-label" for="latitude">Широта</label>
                    <div>
                        <input class="form-control" type="number" step="any" id="latitude" name="latitude"
                            placeholder="Широта..." [(ngModel)]="newSight.latitude" required readonly />
                    </div>
                    <label class="col-form-label" for="longitude">Долгота</label>
                    <div>
                        <input class="form-control" type="number" step="any" id="longitude" name="longitude"
                            placeholder="Долгота..." [(ngModel)]="newSight.longitude" required readonly />
                    </div>
                </div>
                <div class="col">
                    <yan-map (coordinateChanged)="setCoordinates($event)" [removeInitPoint]="removeInitPoint"></yan-map>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Отправить</button>
        </form>
    </div>

    <div class="container p-2 border">
        <p>Создать тип</p>
        <form id="createType" class="col" method="post" (ngSubmit)="addType(formType)" novalidate #formType="ngForm">

            <div class="form-group row">
                <label class="col-1 col-form-label" for="name">Name</label>
                <div class="col">
                    <input class="form-control" type="text" id="name" name="name" placeholder="Enter name"
                        [(ngModel)]="newType.name" required pattern="^[А-Яа-яA-Za-z ]{2,}" />
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Отправить</button>
        </form>
    </div>
</div>

<ng-template #makeMain>
    <button (click)="alert('Сделано');">Сделать главной</button>
</ng-template>