<div class="container p-2">
    <div class="row justify-content-md-center">
        <div class="m-a-10 col-2">
            <button class="btn btn-primary" routerLink="/create">Создать</button>
        </div>
        <div class="m-a-10 col-2">
            <button class="btn btn-primary" routerLink="/">На главную</button>
        </div>
        <div class="m-a-10 col-2">
            <button class="btn btn-primary" routerLink="/show">Просмотр</button>
        </div>
        <div class="m-a-10 col-2">
                <button class="btn btn-primary" routerLink="/showmap">Поиск по карте</button>
            </div>
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>
