<p [hidden]="!isPluploadReady">
    <button #pickfiles class="btn btn-primary">
      Select files
    </button>
    <!-- <button type="button" (click)="uploadFiles()" class="btn btn-warning">
      Upload selected file(s)
    </button> -->
  </p>
  
  <!-- Files being uploaded -->
  <style>
    .main-image{
      border: 1px solid red;
    }
  </style>
  <ul *ngIf="fileList.length > 0">
    <li *ngFor="let file of fileList" [class.main-image]="file.isMain">
      {{ file.name }} ({{ file.size }}) - {{ file.percent }}
      <button class="btn btn-primary" type="button" (click)="delete(file)">X</button>
      <button class="btn btn-primary" type="button" (click)="markAsMain(file)">Сделать главной</button>
    </li>
  </ul>