@{
    ViewData["Title"] = "Catalog";
}

@await  Component.InvokeAsync("SideMenu")
<article>
    <h3>Товары:</h3>

    <div id="page-catalog" style="overflow: hidden;">
        <!-- Постраничное обновление происходит через AJAX и HomeController.GetPartialCatalog -->
        @*@await Component.InvokeAsync("ProductBase", new { Page = ViewBag.Page, PageSize = ViewBag.PageSize })*@
    </div>

</article>

@section scripts{ 
    <script src="~/js/Catalog/CatalogPageAJAX.js"></script>
    <script src="~/js/jquery-loading-overlay/loadingoverlay.min.js"></script>
    <script>
        $(function () {
            PartialCatalog.init({
                path: "@Url.Action("GetPartialCatalog", "Home")"
            });
        });
    </script>
}