
@{
    ViewData["Title"] = "Contact";
    Layout = "_LayoutBase";
}

<article>
    <section>
        <h2>Напишите нам</h2>
        <form class="forma" action="#">
            <ul>
                <li>Имя <input type="text" placeholder="ваше имя"></li>
                <li>Email <input type="email" placeholder="email"></li>
                <li>Тема <input type="text" size="50"></li>
                <li>
                    Текст сообщения:<br>
                    <textarea style="width: 300px; height: 150px"></textarea>
                </li>
            </ul>
            <input type="submit" value="Отправить данные"> <input type="reset">
        </form>
    </section>

    <section>
        <h2>Адрес</h2>
        <p>Контактный телефон: 8 800 000 000 0</p>
        <p>Email: mpcatalog@mpc.ru</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d65348986.01827304!2d55.13607812219816!3d57.32474487267976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1546168355974" width="100%" height="374" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>

</article>
<hr>

